/* Daniel & Michelle */
h2.title {
	/* Font family linked from Google API */
	font-family: 'Great Vibes' ;
	font-size: 45px ;
	text-align: center ;
}

/* Main Bahamas picture */
img.bahamas {
	border-radius: 8px ;
	display: block ;
	margin-left: auto;
	margin-right: auto;
	
	height: auto ;
	max-width: 100% ;
	width: 50% ;
}