/* Elements in general */
a, a:visited {
	color: inherit ;
	text-decoration: none ;
}

body {
	background-color: #e2dcc5 ;
}

/* Specific elements */

h1.tabs {
	color: #3961a3 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	font-size: 27px ;
	font-variant: small-caps ;
	text-align: center ;
}

a.button {
	padding-left: 13px ;
	padding-right: 13px ;
	transition-duration: 0.2s ;
}

a.button:hover {
	background-color: #e2dcc5 ;
	border: 0.5px solid #000000 ;
}

h2.title {
	/* Font family linked from Google API */
	font-family: 'Great Vibes' ;
	font-size: 45px ;
	text-align: center ;
}

img.bahamas {
	border-radius: 8px ;
	display: block ;
	margin-left: auto;
	margin-right: auto;
	
	height: auto ;
	max-width: 100% ;
	width: 50% ;
}