#louisville {
	color: #a8a8a8 ;
}

h2.title {
	/* Font family linked from Google API */
	font-family: 'Great Vibes' ;
	font-size: 45px ;
	text-align: center ;
}

#midtown_map {
	display: block ;
	width: 400px ;
	height: 300px ;
	border: 0 ;
	margin: 0 auto ;
}